:root {
  --primary-color: hsl(257, 40%, 49%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
header {
  display: flex;
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
  height: 80px;
  padding: 30px 30px 0 30px;
}
header img {
  width: 150px;
}
main {
  display: grid;
  width: 100%;
  height: 85vh;
  max-width: 1430px;
  margin: 0 auto;
  padding: 40px;
}
.main--img-container {
  width: 100%;
  min-height: 250px;
}
.main--img-container img {
  width: 100%;
}
.main--info-container {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.main--info-container h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
}
.main--info-container p {
  margin-top: 15px;
  font-size: 1.7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: white;
}
.main--info-container button {
  width: 80%;
  max-width: 250px;
  height: 50px;
  margin-top: 25px;
  font-size: 1.4rem;
  color: var(--primary-color);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.63);
  cursor: pointer;
}
.info--icon-container {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 100px auto 0;
}
.info--icon-container .facebook,
.info--icon-container .twitter,
.info--icon-container .instagram {
  width: 45px;
  height: 45px;
  padding-top: 9px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
}
.info--icon-container .facebook span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../images/FACEBOOK.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
.info--icon-container .twitter span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../images/TWITTER.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
.info--icon-container .instagram span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../images/INSTAGRAM.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
